
.auth-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.auth-wrapper form {
  width: 375px;
  margin: 0 auto;
}

.auth-wrapper h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}
.auth-wrapper .form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

.auth-wrapper .p {
  color: #bf1650;
}

.auth-wrapper p::before {
  display: inline;
  content: "? ";
}

.auth-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.auth-wrapper label {
  line-height: 2;
  text-align: left;
  display: block;
 margin: 5px 0 ;
  font-size: 14px;
  font-weight: 200;
}

.auth-wrapper input:disabled {
  opacity: 0.4;
}

hr {
  margin-top: 30px;
}

.auth-wrapper .idCheck {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  background: #7A84EB;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 4px;
  font-weight: 100;
}
.auth-wrapper .idCheck:hover {
  background: #636ee6;
}
.auth-wrapper .id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pro-wrapper {
  width:100%;
}
.pro-wrapper .pro-header {
  background-color: #7A84EB;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-id {
  font-size: 25px;
  color: white;
  margin-left: 300px;
}
.user-id:hover {
  cursor: pointer;
}
.project {
  font-size: 30px;
  color: white;
  margin-left: 300px;
}

.auth-wrapper .button {
  background: #7A84EB;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 10px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 10px;
  font-size: 14px;
}

.auth-wrapper .button:hover {
  background: #636ee6;
}

.auth-wrapper .button:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.auth-wrapper .button:disabled {
  opacity: 0.4;
}

.auth-wrapper .button {
  -webkit-appearance: none;
}

.pro-container {
  margin: auto;
  max-width: 800px;
  color: black;
}

.pro-block {
  background: #d3d6f8;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: -9px 17px 13px rgb(0 0 0 16%);
}

.pro-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 30px;
}

.pro-button {
  background: #989fef;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 120px
}

.pro-button:hover {
  background: #8992ed;
  cursor: pointer;
}

.list-style {
  padding: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px dotted black;
}

.list-content {
font-size: 20px;
}

.list-button {
  background: #989fef;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 90px;
}

.list-button:hover {
  background: #8992ed;
}
.card {
  padding: 30px;
  background-color: #636ee6;
  border-radius: 10px;
  margin: 4px
}

.canban-wrapper {
  width:100%;
  margin: auto;
}

.canban-header {
  background-color: #7A84EB;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.canban {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.pro-name {
  font-size: 25px;
  color: white;
  margin-left: 300px;
}
.canbanBord {
  font-size: 25px;
  color: white;
  margin-left: 300px;
}
.canban-section {
  width: 400px;
  background-color: #a6adf2;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.canban-section-title {
  margin-bottom: 2px
}

/*#dropDown {
  background: #989fef;
}

#dropDown:hover {
  background: #636ee6;
}*/

.text-primary {
  background: #989fef;
}